.tab {
  font-size: 22px;
  color: blue;
  background-color: cornflowerblue;
  border: blue solid 2px;
}

.tab.active {
  color: cornflowerblue;
  background-color: blue;
}

.block {
  display: none;
  font-size: 20px;
  background-color: blue;
  color: darkgreen;
  width: 600px;
}

.block.active {
  display: block;
   
}